*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* USER STYLES */

/* MOBILE */
@media screen and (max-width: 70em) {
    body {
        background-image: url('assets/pattern-background-mobile.svg');
    }
    .container {
        max-width: 20rem;
    }
    .content {
        padding: 1.5rem;
    }
    .plan {
        padding: 1rem;
    }
    .plan__block {
        gap: 1rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 70em) {
    body {
        background-image: url('assets/pattern-background-desktop.svg');
    }
    .container {
        max-width: 28rem;
    }
    .content {
        padding: 1.5rem 2.75rem;
    }
    .plan {
        padding: 1.5rem;
    }
    .plan__block {
        gap: 1.5rem;
    }
}

:root {
    /* PRIMARY COLORS*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --lighten-blue: hsla(245, 75%, 68%);
    --darken-blue: hsla(245, 75%, 46%);
    /* NEUTRAL COLORS */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--pale-blue);
}

.container {
    background-color: white;
    border-radius: 1rem;
}

.hero-img {
    border-radius: 1rem 1rem 0rem 0rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.heading {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-blue);
    font-weight: 900;
}

.paragraph {
    text-align: center;
    font-size: 1rem;
    color: var(--desaturated-blue);
    margin: 0;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
    border-radius: 0.75rem;
}

.plan__block {
    display: flex;
    align-items: center;
}

.plan__heading {
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-blue);
    margin-top: 0;
}

.plan__price {
    color: var(--desaturated-blue);
    margin-top: 0.25rem;
}

.plan__btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    color: var(--darken-blue);
    font-size: 0.875rem;
    font-weight: 700;
}

.plan__btn:hover {
    color: var(--lighten-blue);
    transition: all 0.2s;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.proceed-btn {
    background-color: var(--bright-blue);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    cursor: pointer;
}

.proceed-btn:hover {
    background-color: var(--lighten-blue);
    transition: all 0.2s;
}

.cancel-btn {
    border: none;
    background-color: white;
    padding: 0.75rem;
    font-weight: bold;
    color: var(--desaturated-blue);
    cursor: pointer;
}

.cancel-btn:hover {
    color: var(--dark-blue);
    transition: all 0.2s;
}
